.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1025px) {
    /* Styles for desktops */
    .movie-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1rem;
        width: 100%;
        max-width: 1200px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* Styles for tablets */
    .movie-list{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        gap: 1rem;
        width: 100%;
        max-width: 700px;
    }
}

@media (max-width: 767px) {
    /* Styles for mobile */
    .movie-list{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 1rem;
        width: 100%;
        max-width: 400px;
    }
}


.movie-card img {
    width: 100%;
    border-radius: 10px;
}

.movie-info {
    text-align: center;
    margin-top: 0.5rem;
}

.movie-info > * {
    color: #FAF9F6;
}

form {
    margin-bottom: 2rem;
}

input {
    padding: 7px 100px 7px 7px;
    border-radius: 5px;
    background-color: #FAF9F6;
    color: #2b2d42;
    font-size: 17px;
}

button {

}

button > img {
    height: 16px;
    /* background-color: #FAF9F6; */
    /* padding:  10px; */
    
}


.movie-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

.movie-detail img {
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.movie-detail h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.movie-detail p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}  